@import url('https://fonts.googleapis.com/css2?family=Sofadi+One&display=swap');

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 20px;
}

h2 {
    color: #333;
    margin-bottom: 10px;
    font-family: "Sofadi One", system-ui;
    font-weight: 400;
    font-style: normal;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
}

.g-col-12 {
    grid-column: span 12;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
    font-family: "Sofadi One", system-ui;
    font-weight: 400;
    font-style: normal;
}

input[type="number"],
input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    margin-top: 10px;
    padding: 10px;
    background-color: #0e8b6c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #00b377;
}

/* Estilo para los resultados */
p {
    margin-top: 15px;
    padding: 10px;
    background: #e9ecef;
    border-left: 4px solid #12af73;
    border-radius: 5px;
    color: #333;
    font-family: "Sofadi One", system-ui;
    font-weight: 400;
    font-style: normal;
}
